@font-face {
	font-family: raleway;
	src: url(Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
	font-family: raleway-light;
	src: url(Raleway/static/Raleway-Light.ttf);
}
@font-face {
	font-family: raleway-SemiBold;
	src: url(Raleway/static/Raleway-SemiBold.ttf);
}

body {
	background-color: black;
	color: white; /* Set text color to white for better visibility */
	margin-right: 24px;
	margin-left: 24px;
}

img {
	width: 480px; /* Default width for images */
	height: auto; /* Ensures the aspect ratio is maintained */
	margin-top: 19px;
}

/* Responsive logo styling for mobile view */
.responsive-logo {
	width: 100%; /* Logo will take the full width of its container */
	max-width: 480px; /* Maximum width for larger screens */
	height: auto; /* Maintain aspect ratio */
}

h2 {
	color: rgb(26, 213, 9);
	font-family: 'raleway-light';
}

.container {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(200px, 1fr)
	); /* Improved grid for better responsiveness */
	grid-gap: 40px; /* Adjusted grid gap to prevent cluttering */
	margin: 0 auto;
	padding: 20px; /* Added padding around the container */
}

.container div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container h2 {
	margin: 0;
	padding: 0;
}

a {
	color: rgb(26, 213, 9);
	text-decoration: none;
	text-align: center;
}

a:hover {
	color: aqua;
}

/* Responsive image handling for the flags */
.image1,
.image2,
.image3 {
	max-width: 200px; /* Ensure images are sized appropriately */
	height: auto;
	transition: 1s;
	border: 2px solid rgb(26, 213, 9);
}

.image1:hover,
.image2:hover,
.image3:hover {
	transform: scale(1.2); /* Hover effect to enlarge the image */
	z-index: 2;
	border: 2px solid rgb(26, 213, 9);
}

/* Add the styles for the home button */
.home-button {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: rgb(26, 213, 9);
	color: black;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

/* Style the link inside the button */
.home-button a {
	color: black;
	text-decoration: none;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
	.container {
		grid-template-columns: repeat(
			auto-fit,
			minmax(150px, 1fr)
		); /* Adjust grid layout for smaller screens */
		grid-gap: 20px; /* Reduce grid gap for mobile screens */
		margin: 0 20px; /* Reduce margins for smaller screens */
	}

	/* Ensure the main logo image resizes for mobile */
	.responsive-logo {
		width: 100%; /* Logo takes full width on smaller screens */
		max-width: 100%; /* Remove the fixed maximum width */
	}

	/* Adjust the image sizes for mobile */
	.image1,
	.image2,
	.image3 {
		height: auto; /* Allow height to adjust dynamically */
		width: 100%; /* Make images responsive */
	}
}
/* Hide extra text on smaller screens */
@media (max-width: 430px) {
	.extra-text {
		display: none;
	}
}
