body {
	background-color: black;
	color: white; /* Set text color to white for better visibility */
	padding-left: 25px;
	padding-right: 25px;
}
img {
	width: 480px; /* Adjust this value to your desired width */
	height: auto; /* This ensures the aspect ratio is maintained */
}
h2 {
	color: rgb(26, 213, 9);
	background-color: none;
	font-family: Tahoma;
}
h1 {
	color: rgb(26, 213, 9);
	background-color: none;
	font-family: Arial;
}
.container {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: 1em 1em 1em;
	grid-auto-rows: 2em;
	grid-gap: 250px;
}
a {
	color: rgb(26, 213, 9);
	text-decoration: none;
}
a:hover {
	color: aqua;
}
.image1 {
	height: 10em;
	width: auto;
}
.image2 {
	height: 10em;
	width: auto;
}
.image3 {
	height: 10em;
	width: auto;
}

.image1 {
	transition: 1s;
}
.image1:hover {
	transform: scale(1.2);
	z-index: 2;
}

.image2 {
	transition: 1s;
}
.image2:hover {
	transform: scale(1.2);
	z-index: 2;
}
.image3 {
	transition: 1s;
}
.image3:hover {
	transform: scale(1.2);
	z-index: 2;
}
body {
	margin-left: 24px;
	margin-right: 24px;
}
@media (min-width: 600px) {
	.container {
		grid-gap: 240px;
	}
}

/* Styles for screens wider than 900px */
@media (min-width: 900px) {
	.container {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}
